extends layout

block content
  div.container
    div.row.session-details
        div.row
            span.col-xs-2 session:
            span#sessionid.col-xs-5 #{session.id}
        div.row
            span.col-xs-2 host:
            span#hostusername.col-xs-5 #{session.host}
        div.row
            span.col-xs-2 participants:
            span#participantcount.col-xs-5 #{session.participants.length}
    div.row#participants
    div.row.center-block.text-center
        a#btnReset.btn.btn-primary Reset


    script(src='/javascripts/board.js')