extends layout

block content
  div.container
    form.form-signin(action='/board' method='post')
      h2.form-signin-heading Please sign in
      label.sr-only(for='inputUsername') Username
      input#inputUsername.form-control(name='username' type='text' placeholder='Username' required autofocus)
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in