extends layout

block content
  div.container
    div.row.text-center
      h1 Planning Poker
      p Let's get planning
    div.center-block.text-center
      div.button-box
        a.btn.btn-primary(href='/host') Host a session
        &nbsp;
        a.btn.btn-primary(href='/participant') Join a session