extends layout

block content
  div.container
    if nameExists 
      div.row.error Username taken, please choose another username

    form.form-signin(action='/player' method='post')
      h2.form-signin-heading Please sign in
      label.sr-only(for='inputSession') Session
      input#inputSession.form-control(name="sessionid" type='text' placeholder='Session' required autofocus value='#{sessionid}')

      label.sr-only(for='inputUsername') Username
      input#inputUsername.form-control(name="participant" type='text' placeholder='Username' required autofocus)
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in