extends layout

block content
  div.container
    div.row.session-details
        div.row
            span.col-xs-2 session:
            span#sessionid.col-xs-5 #{session.id}
        div.row
            span.col-xs-2 host:
            span#hostusername.col-xs-5 #{session.host}
        div.row
            span.col-xs-2 participants:
            span#participantcount.col-xs-5 #{session.participants.length}          
        div.row
            span.col-xs-2 participant:
            span#participant.col-xs-5 #{participant}            
    div.row#participants
    div.row.center-block.text-center
        select#scoreInput(name='score')
            option(value='?') ?
            option(value='0') 0
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='5') 5
            option(value='8') 8
            option(value='13') 13
            option(value='20') 20
            option(value='40') 40
            option(value='100') 100
    div.row.center-block.text-center
        a#btnScore.btn.btn-primary Submit

    script(src='/javascripts/player.js')