body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#eee;
}

.button-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.session-details {
  padding:5px;
  font-size: 0.8em;
  border: 1px solid #990000
}

#scoreInput {
  font-size: 3.0em;
  margin: 15px;
}

.player {
  border: 1px solid #ff0000;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  height: 220px;
}

.player-score {
  font-size: 3em;
  display: none;
}

